body
{
    background-image: url('../images/site_images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    width: 100%;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.right{
    float: right;
}

.left{
    float: left;
}

.logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.footer
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: left;
}

.photo
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow: hidden;
}

.photo img
{
    width: 100%;
    border: #FFF 3px solid;
}
