#overlay {
    position: absolute;
    display: block;
    width: 20%;
    height: 20%; 
    top: 100;
    left: 60;
    right: 70;
    bottom: 30;
    z-index: 2;
   
    
    cursor: pointer;

}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
}

.top_container
{
    width: 500px;
    margin: 30px auto;
}

#canvas
{
    display: none;
}
#canvas2
{
    display: none;
}

#emoji1
{
    position: absolute;
    visibility: hidden;
}

#emoji2
{
    position: absolute;
    visibility: hidden;
}

#save_photo
{
    display: none
}

.button
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background:  #333;
    width: 100%;
    border: 0px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover{
    background: #111;
    cursor: pointer;

}

.emo_list
{
    align-content: center;
    padding-left: 18px;
}

.thumb_nail
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    overflow: hidden;
}

.thumb_nail img
{
    width: 100%;
    border: #FFF 3px solid;
}

.file-upload {
	position: relative;
	display: block;
}

/* .file-upload__label {
  display: block;
  padding: 1em 2em;
  color: #fff;
  background:  #333;
  width: 100%;

}

.file-upload__label:hover {
    cursor: pointer;
    background: #111;
} */

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width:0;
    height: 100%;
    opacity: 0;
}

.lbbutton
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background:  #333;
    width: 100%;
    border: 0px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lbbutton:hover{
    background: #111;
    cursor: pointer;

}

.uploaded_image
{
    /* position: absolute; */
    display: none;
}
