#overlay {
    position: absolute;
    display: block;
    width: 20%;
    height: 20%; 
    top: 100;
    left: 60;
    right: 70;
    bottom: 30;
    z-index: 2;
   
    
    cursor: pointer;

}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
}

.top_container
{
    width: 500px;
    margin: 30px auto;
}

#canvas
{
    display: none;
}
#canvas2
{
    display: none;
}

#emoji1
{
    position: absolute;
    visibility: hidden;
}

#emoji2
{
    position: absolute;
    visibility: hidden;
}

#save_photo
{
    visibility: hidden;
}

.button
{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background:  #333;
    width: 100%;
    border: 0px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover{
    background: #111;
}

.emo_list
{
    position: absolute;
    top: 330px;
    width: 20%;
}
.thumb_nail
{
    position: absolute;
    top: 335px;
    left: 70%;
    width: 20%;
}

.main_container
{
 
}