.login_box
{
	margin: auto;
	margin-top: 15%;
	width: 50%;
	height: 50%;
	text-align: center;
	/* background: blue; */
	padding: 25px
}

.input_area
{
	margin: auto;
	width: 50%;
	height: 50px;
	border-radius: 10px;
	text-align: center;
	color: black;
	background: whitesmoke;
}

.button
{
	margin: auto;
	height: 50px;
	width: 50%;
	border-radius: 10px;
	background-image: linear-gradient(to right, rgba(0, 2000, 0, 0.3), rgba(0,200,0,1));
	color: black;
	box-shadow: 50px;
}